name: OWASP ZAP Full Scan

on:
  workflow_call:
    inputs:
      mode:
        description: "Security mode: vuln or safe"
        required: true
        default: "vuln"

jobs:
  ZapScan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Installing Docker Compose
        run: sudo apt-get update && sudo apt-get install -y docker-compose
      - name: Build & Start Docker services
        run: |
          if [ "${{ inputs.mode }}" = "safe" ]; then
            echo "Running in SAFE mode"
            docker-compose --env-file .env.safe up -d --build
          else
            echo "Running in VULNERABLE mode"
            docker-compose --env-file .env.vuln up -d --build
          fi
      - name: Waiting services
        run: |
          for i in `seq 1 60`; do
            curl -fsS http://localhost:3000/api/posts >/dev/null 2>&1 && break
            echo "Waiting backend..."
            sleep 2
          done
          for i in `seq 1 60`; do
            curl -fsS http://localhost:8080/ >/dev/null 2>&1 && break
            echo "Waiting frontend..."
            sleep 2
          done
          for i in `seq 1 30`; do
            curl -fsS http://localhost:8080/zap.html >/dev/null 2>&1 && break
            echo "Waiting /zap.html..."
            sleep 2
          done
      - name: Run OWASP ZAP Full Scan (bounded & seeded)
        uses: zaproxy/action-full-scan@v0.13.0
        with:
          target: 'http://localhost:8080/search-share?q=test'
          cmd_options: >
            -j
            -m 5
            -T 300
            -l MEDIUM
          rules_file_name: '.zap/rules.tsv'
          allow_issue_writing: false
          fail_action: true
      - name: Stop and clean-up
        if: always()
        run: docker-compose down -v